h1{
    color: hsl(180, 21%, 86%);
    

}


h4{
    color: rgb(182, 211, 187);
    
     
}
header{
    background-image: url(/assets/images/fondo.jpg);
    
}

h2{
    color: blue;
    
}

nav{
    color: blue;

}
div{
    color: rgb(9, 24, 5);

}
a{
color: blue;
}
nav{
background-image: url(/assets/images/fon.jpg);
}

